.board-letter {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    color: var(--tile-text-color);
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    user-select: none;
    aspect-ratio: 1;

    &[data-state=empty] {
        border: 2px solid var(--color-tone-4);
    }

    &[data-state=tbd] {
        border: 2px solid var(--color-tone-3);
        background-color: var(--color-tone-7);
        color: var(--color-tone-1);
    }

    &[data-state=absent] {
        background-color: var(--color-absent);
    }

    &[data-state=present] {
        background-color: var(--color-present);
    }

    &[data-state=correct] {
        background-color: var(--color-correct);
    }

    // animations
    @keyframes pop-in {
        0% {
            transform: scale(.8);
            opacity: 0;
        }
        40% {
            transform: scale(1.1);
            opacity: 1;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }

    @keyframes flip-in {
        0% {
            transform: rotateX(0);
        }
        100% {
            transform: rotateX(-90deg);
        }
    }

    @keyframes flip-out {
        0% {
            transform: rotateX(-90deg);
        }
        100% {
            transform: rotateX(0);
        }
    }

    &[data-animation=pop] {
        animation: pop-in .1s;
    }

    &[data-animation=flip-in] {
        animation: flip-in .25s ease-in;
    }

    &[data-animation=flip-out] {
        animation: flip-out .25s ease-in;
    }
}
