.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    border-bottom: 1px solid var(--color-tone-4);
    color: var(--color-tone-1);
    user-select: none;
    transition: border-bottom-color .25s;
    padding-inline: var(--header-padding-x);

    .title {
        flex: 1;
        pointer-events: none;
        margin-inline: 10px;

        span {
            display: flex;
            justify-content: center;
            align-items: baseline;
            width: fit-content;
            background-image: var(--title-background);
            background-clip: text;
            font-family: nyt-karnakcondensed;
            transition: background-image .25s;
            gap: 5px;
            -webkit-text-fill-color: transparent;

            p {
                font-size: 28px;
                font-weight: 700;
                letter-spacing: .01em;

                &.sub {
                    font-size: 20px;

                    &::first-letter {
                        font-size: 28px;
                    }
                }
            }


        }
    }

    .header-left {
        display: flex;
        align-items: center;
        gap: 6px;

        img {
            width: 28px;
        }
    }

    .header-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 4px;

        svg,
        .hard-mode {
            width: 28px;
            text-align: center;
            cursor: pointer;
            transition: color .25s;
        }

        .hard-mode {
            font-size: 28px;
            transform: translateY(.5px);
        }

        .reset {
            visibility: hidden;
            opacity: 0;
            transition: opacity .25s, visibility 0s .5s, color .25s;

            &.show {
                visibility: visible;
                opacity: 1;
                transition: opacity .5s, visibility 0s, color .25s;
            }
        }
    }

    @media screen and (min-width: 768px) {
        .header-left,
        .header-right {
            min-width: 120px;
        }

        .title {
            span {
                margin-inline: auto;

                p {
                    font-size: 32px;

                    &.sub {
                        font-size: 24px;

                        &::first-letter {
                            font-size: 32px;
                        }
                    }
                }
            }
        }
    }
}
