.keyboard {
    display: flex;
    flex-direction: column;
    height: var(--keyboard-height);
    padding-inline: 8px;
    width: 100%;
    gap: 8px;
    font-size: 16px;
    box-sizing: border-box;
    touch-action: manipulation; // TODO: need to fix fast double tap
    user-select: none;

    .keyboard-row {
        display: flex;

        .keyboard-space {
            flex: .5;
        }
    }
}
