.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: var(--game-max-width);
    height: calc(100% - var(--header-height) - 1px); // header's height and its border width
    margin-inline: auto;
}

.toast-container {
    top: 61px !important;
    padding: 0 !important;
    width: 100vw !important;

    .toast {
        width: max-content;
        min-height: auto !important;
        margin: 0 auto 1rem !important;
        border-radius: 4px !important;
        background-color: var(--color-tone-8);
        cursor: auto !important;
        user-select: none;

        .toast-body {
            margin: 0;
            padding: 5px;
            color: var(--color-tone-7);
            font-size: 14px;
            font-weight: 700;
            text-align: center;
        }
    }
}
