.heading {
    margin-bottom: 15px;
    color: var(--color-tone-1);
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    letter-spacing: .5px;
    text-transform: uppercase;
}

.rule {
    color: var(--color-tone-1);
    font-size: 14px;

    .examples {
        border-top: 1px solid var(--color-tone-4);
        border-bottom: 1px solid var(--color-tone-4);

        .example {
            margin-block: 24px;

            .letter-container {
                display: inline-block;
                width: 40px;
                height: 40px;
                margin-right: 4px;
            }
        }
    }

    .hard-mode {
        font-size: 28px;
        font-weight: 400;
    }
}
